{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{%block styles%}
    {{ super() }}

{%endblock%}

{%block content%}
<div class="jumbotron text-center">
    <h1><b>My Blog</b></h1>
</div>
<br>
<h4>{{macro.display_quotes(quotes)}}</h4>
<br>
<div class="container" style="padding-bottom: 20px;">
    <a href="{{url_for('main.new_post')}}" class="btn btn-primary">New Post</a>
</div>

<div class="container">
    <div class="container">
        <div class="container">
            <div class="container">
                <h3>Posts</h3>
                <a href="{{url_for('main.all_posts')}}" class="btn btn-success -center">View</a>
            </div>
        </div>
    </div>
</div>
{%endblock%}