{% macro displayPosts(posts_list)%}
    {%for post in posts_list%}
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 review-card">
            <div class="well well-lg">
                <h4>{{post.title}}</h4>
                <p>{{post.content| truncate(100)}}</p>
                <p>Written by:  {{post.user.username}} <a href="/post/{{post.id}}" class="btn btn-primary pull-right">View this post</a> </p>
            </div>
        </div>
    {%endfor%}
{%endmacro%}

{%macro displayComments(comments_list)%}
    {%for comment in comments_list%}
        <div class="col-md-12">
            <h5><i>'{{comment.comment}}' </i>&nbsp;&nbsp;by&nbsp;&nbsp;<b>{{comment.user.username}}</b></h5>
        </div>
    {%endfor%}
{%endmacro%}

{% macro display_quotes(quotes)%}
<div class="jumbotron container">
    <h3 class="text-center"><b>Random Quote</b></h3>
    <br>
    <h5 class="mt-3 text-success">'{{quotes.quote}}'</h5>
    <br>
    <b><i>~ {{quotes.author}}</i></b>
</div>
{%endmacro%}