{% extends 'base.html'%}
{% import 'macros.html' as macro%}
{% import "bootstrap/wtf.html" as wtf %}

{%block styles%}
    {{ super() }}
{%endblock%}

{%block content%}
<div class="container">
    <div class="row">
        <h3><b>{{post.title}}</b></h3>
        <hr>
        <p>{{post.content}}</p>
    </div>
    <br>
    <div class="row">
        {% if current_user.is_authenticated %}
            {{ wtf.quick_form(form) }}
        {%endif%}
        <hr>
        <br>
        <h4 style="text-align:center"><b>Comments</b></h4>
        <br>
        {{macro.displayComments(comments)}}
        <br>
    </div>

</div>
{%endblock%}